<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Article</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div></div>

        <h1>Add reference</h1>
        
        <div th:if="${notvalidBibtexkey}">
            <p><b>BibtexKey has to be unique</b></p>
        </div>

        <form action="#" th:action="@{/references/article}"  method="POST">

<table> 
        <tr>
            <td><label for ="bibtexKey">Citation key: </label></td>
            <td><input type="text" th:field="*{reference.bibtexKey}" id="bibtexKey" /></td>
            <td th:if="${#fields.hasErrors('reference.bibtexKey')}" th:errors="*{reference.bibtexKey}">Validation error</td>
        </tr>
        
        <tr>
            <td><label for="author">Author: </label></td>
            <td><input type="text" th:field="*{reference.author}" id="author" /></td>
            <td th:if="${#fields.hasErrors('reference.author')}" th:errors="*{reference.author}">Validation error</td>
        </tr>
    
        <tr>
            <td><label for="title">Title: </label></td>
            <td><input type="text" th:field="*{reference.title}" id="title" /></td>
             <td th:if="${#fields.hasErrors('reference.title')}" th:errors="*{reference.title}">Validation error</td>
        </tr>
            
        <tr>
            <td><label for="journal">Journal: </label></td>
            <td><input type="text" th:field="*{article.journal}" id="journal" /></td>
             <td th:if="${#fields.hasErrors('article.journal')}" th:errors="*{article.journal}">Validation error</td>
        </tr>
    
        <tr>
            <td><label for="volume">Volume: </label></td>
            <td><input type="text" th:field="*{article.volume}" id="volume" /></td>
             <td th:if="${#fields.hasErrors('article.volume')}" th:errors="*{article.volume}">Validation error</td>
        </tr>
    
        <tr>
            <td><label for="number">Number: </label></td>
            <td><input type="text" th:field="*{article.number}" id="number" /></td>
             <td th:if="${#fields.hasErrors('article.number')}" th:errors="*{article.number}">Validation error</td>
        </tr>

        <tr>
            <td><label for="year">Publishing year: </label></td>
            <td><input type="text" th:field="*{reference.year}" id="year" /></td>
             <td th:if="${#fields.hasErrors('reference.year')}" th:errors="*{reference.year}">Validation error</td>
        </tr>
    
        <tr>
            <td><label for="pages">Pages: </label></td>
            <td><input type="text" th:field="*{article.startPage}" id="pages" />-<input type="text" th:field="*{article.endPage}" id="pages" /></td>
            <td th:if="${#fields.hasErrors('article.startPage')}" th:errors="*{article.startPage}">Validation error</td>
             <td th:if="${#fields.hasErrors('article.endPage')}" th:errors="*{article.endPage}">Validation error</td>
        </tr>

        <tr>
            <td><label for="publisher">Publisher: </label></td>
            <td><input type="text" th:field="*{reference.publisher}" id="publisher" /></td>
            <td th:if="${#fields.hasErrors('reference.publisher')}" th:errors="*{reference.publisher}">Validation error</td>
        </tr>
    
        <tr>
            <td><label for="address">Address: </label></td>
            <td><input type="text" th:field="*{article.address}" id="address" /></td>
            <td th:if="${#fields.hasErrors('article.address')}" th:errors="*{article.address}">Validation error</td>
        </tr>

        <tr>
            <td><button type="submit" name="submit" id="submit">submit</button></td>
        </tr>
    </table>

        </form>
    </body>
</html>
