<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
        <link rel="stylesheet" href="../public/css/styles.css" type="text/css"/>      
</head>
    <body>    
        <table>
            <tr th:each="ref : ${references}">
                <td>
                    <div th:if="${ref.article != null}">
                        <p>@article{<span th:text="${ref.bibtexKey}">key</span>,<br/></p>
                        <p class="indented" th:if="${!ref.author.isEmpty()}">author = {<span th:text="${ref.author}">author</span>},<br/></p>
                        <p class="indented" th:if="${!ref.title.isEmpty()}">title = {<span th:text="${ref.title}">title</span>},<br/></p>
                        <p class="indented" th:if="${!ref.article.journal.isEmpty()}">journal = {<span th:text="${ref.article.journal}">journal</span>},<br/></p>
                        <p class="indented" th:if="${ref.article.volume != null}">volume = {<span th:text="${ref.article.volume}">volume</span>},<br/></p>
                        <p class="indented" th:if="${ref.article.number != null}">number = {<span th:text="${ref.article.number}">number</span>},<br/></p>
                        <p class="indented" th:if="${ref.year != null}">year = {<span th:text="${ref.year}">year</span>},<br/></p>
                        <p class="indented" th:if="${ref.article.startPage != null}">pages = {<span th:text="${ref.article.startPage}">startPage</span>--</p><p th:if="${ref.article.endPage != null}"><span th:text="${ref.article.endPage}">endPage</span>},<br/></p>
                        <p class="indented" th:if="${!ref.publisher.isEmpty()}">publisher = {<span th:text="${ref.publisher}">publisher</span>},<br/></p>
                        <p class="indented" th:if="${!ref.article.address.isEmpty()}">address = {<span th:text="${ref.article.address}">address</span>},<br/></p>
                        <p>}<br/></p>

                    </div>
                    <div th:if="${ref.book != null}">
<p>@book{<span th:text="${ref.bibtexKey}">bibtexKey</span>,<br/></p>
<p class="indented" th:if="${!ref.author.isEmpty()}">author = {<span th:text="${ref.author}">author</span>},<br/></p>
<p class="indented" th:if="${!ref.title.isEmpty()}">title = {<span th:text="${ref.title}">title</span>},<br/></p>
<p class="indented" th:if="${ref.year != null}">year = {<span th:text="${ref.year}">year</span>},<br/></p>
<p class="indented" th:if="${!ref.publisher.isEmpty()}">publisher = {<span th:text="${ref.publisher}">publisher</span>},<br/></p>
<p class="indented" th:if="${ref.book.volume != null}">volume = {<span th:text="${ref.book.volume}">volume</span>},<br/></p>
<p class="indented" th:if="${!ref.book.series.isEmpty()}">series = {<span th:text="${ref.book.series}">series</span>},<br/></p>
<p class="indented" th:if="${!ref.book.address.isEmpty()}">address = {<span th:text="${ref.book.address}">address</span>},<br/></p>
<p class="indented" th:if="${!ref.book.edition.isEmpty()}">edition = {<span th:text="${ref.book.edition}">edition</span>},<br/></p>   
<p class="indented" th:if="${ref.book.month != null}">month = {<span th:text="${ref.book.month}">month</span>},<br/></p>
<p class="indented" th:if="${!ref.book.note.isEmpty()}">note = {<span th:text="${ref.book.note}">note</span>},<br/></p>
<p>}<br/></p>
                    </div>
                    <div th:if="${ref.conference != null}">
                        <p>@conference{<span th:text="${ref.bibtexKey}">key</span>,<br/></p>
                        <p class="indented" th:if="${!ref.author.isEmpty()}">author = {<span th:text="${ref.author}">author</span>},<br/></p>
                        <p class="indented" th:if="${!ref.title.isEmpty()}">title = {<span th:text="${ref.title}">title</span>},<br/></p>
                        <p class="indented" th:if="${!ref.conference.editor.isEmpty()}">journal = {<span th:text="${ref.conference.editor}">editor</span>},<br/></p>
                        <p class="indented" th:if="${ref.conference.volume != null}">volume/number = {<span th:text="${ref.conference.volume}">volume</span>},<br/></p>
                        <p class="indented" th:if="${!ref.conference.series.isEmpty()}">series = {<span th:text="${ref.conference.series}">series</span>},<br/></p>
                        <p class="indented" th:if="${ref.year != null}">year = {<span th:text="${ref.year}">year</span>},<br/></p>
                        <p class="indented" th:if="${ref.conference.startPage != null}">pages = {<span th:text="${ref.conference.startPage}">startPage</span>--</p><p th:if="${ref.conference.endPage != null}"><span th:text="${ref.conference.endPage}">endPage</span>},<br/></p>
                        <p class="indented" th:if="${!ref.publisher.isEmpty()}">publisher = {<span th:text="${ref.publisher}">publisher</span>},<br/></p>
                        <p class="indented" th:if="${!ref.conference.address.isEmpty()}">address = {<span th:text="${ref.conference.address}">address</span>},<br/></p>
                        <p class="indented" th:if="${!ref.conference.note.isEmpty()}">note = {<span th:text="${ref.conference.note}">note</span>},<br/></p>
                        <p class="indented" th:if="${!ref.conference.organization.isEmpty()}">organization = {<span th:text="${ref.conference.organization}">organization</span>},<br/></p>
                        <p>}<br/></p>

                    </div>
                </td>
            </tr>
        </table>
        <p><a href="/">Etusivu</a></p>
        
    </body>
</html>
