<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>book</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>
    <body>
        <div>
            <h1>Add new book</h1>
        </div>
        
        <div th:if="${notvalidBibtexkey}">
            <p><b>BibtexKey has to be unique</b></p>
        </div>

        <div>
            <form action="#" th:action="@{/references/createBook}"  method="POST">
                <table>
                    <tr>
                        <td><label for="bibtexKey">Citation key: </label></td>
                        <td><input type="text" th:field="*{reference.bibtexKey}" id="bibtexKey" /></td>
                        <td th:if="${#fields.hasErrors('reference.bibtexKey')}" th:errors="*{reference.bibtexKey}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="author">Author/Editor: </label></td>
                        <td><input type="text" th:field="*{reference.author}" id="author" placeholder="(Vihavainen, Arto; Luukkainen, Matti)" /></td>
                        <td th:if="${#fields.hasErrors('reference.author')}" th:errors="*{reference.author}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="title">Title: </label></td>
                        <td><input type="text" th:field="*{reference.title}" id="title" /></td>
                        <td th:if="${#fields.hasErrors('reference.title')}" th:errors="*{reference.title}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="year">Year: </label></td>
                        <td><input type="text" th:field="*{reference.year}" id="year" /></td>
                        <td th:if="${#fields.hasErrors('reference.year')}" th:errors="*{reference.year}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="publisher">Publisher: </label></td>
                        <td><input type="text" th:field="*{reference.publisher}" id="publisher" /></td>
                        <td th:if="${#fields.hasErrors('reference.publisher')}" th:errors="*{reference.publisher}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="edition">Edition: </label></td>
                        <td><input type="text" th:field="*{book.edition}" id="edition" /></td>
                        <td th:if="${#fields.hasErrors('book.edition')}" th:errors="*{book.edition}">Validation error</td>
                    </tr>
                    <tr>
                        <td><label for="volume">Volume: </label></td>
                        <td><input type="text" th:field="*{book.volume}" id="volume" /></td>
                        <td th:if="${#fields.hasErrors('book.volume')}" th:errors="*{book.volume}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="serie">Series: </label></td>
                        <td><input type="text" th:field="*{book.series}" id="serie" /></td>
                        <td th:if="${#fields.hasErrors('book.series')}" th:errors="*{book.series}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="address">Address: </label></td>
                        <td><input type="text" th:field="*{book.address}" id="address" /></td>
                        <td th:if="${#fields.hasErrors('book.address')}" th:errors="*{book.address}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="month">Month: </label></td>
                        <td><input type="text" th:field="*{book.month}" id="month" /></td>
                        <td th:if="${#fields.hasErrors('book.month')}" th:errors="*{book.month}">Validation error</td>
                    </tr>

                    <tr>
                        <td><label for="note">Note: </label></td>
                        <td><input type="text" th:field="*{book.note}" id="note" /></td>
                        <td th:if="${#fields.hasErrors('book.note')}" th:errors="*{book.note}">Validation error</td>
                    </tr>

                    <tr>
                        <td><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
