<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>
            <h1>Hakusana</h1>
        </div>
        
        <div th:if="${failedSearch}">
            <p><b>Hakuehto liian pitkä</b></p>
        </div>
        
        <div>
            <form action="#" th:action="@{/search}" th:object="${String}" method="POST">
                <input type="text" name="search" />
                <button type="submit">Submit</button>
            </form>
        </div>
        
    </body>
</html>
