<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
    </head>
    
    <body>
        <h1>Miniprojekti</h1>
        
        <p>Täällä on sfinksien ohtu-kurssin miniprojektin sovellus.</p>
        
        <div th:if="${created}">
            <p><b>Reference created.</b></p>
        </div>
        <p><a href="/references/article">Lisää uusi artikkeli</a></p>
        <p><a href="/list">Kaikki lähteet</a></p>
    </body>
</html>
