<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>
    <body>    
        <table>
            <thead><td>Citation key</td> <td>Author/Authors</td> <td>Title</td> <td>Year>/td> <td>Delete</td> </thead>
            <tr th:each="ref : ${references}">
                <td>
            </tr>
        </table>
        <p><a href="/">Etusivu</a></p>
        
    </body>
</html>
