<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List</title>
        <meta charset="UTF-8"/>
    </head>
    <body>    
        <table>
            <tr th:each="ref : ${references}">
                <td>
<pre>
@article{--,
author = {<span th:text="${ref.author}">author</span>},
title = {<span th:text="${ref.title}">title</span>},
journal = {<span th:text="${ref.journal}">journal</span>},
volume = {<span th:text="${ref.volume}">volume</span>},
number = {<span th:text="${ref.number}">number</span>},
year = {<span th:text="${ref.year}">year</span>},
pages = {<span th:text="${ref.startPage}">startPage</span>-<span th:text="${ref.endPage}">endPage</span>},
publisher = {<span th:text="${ref.publisher}">publisher</span>},
address = {<span th:text="${ref.address}">address</span>},
}
</pre>
                </td>
            </tr>
        </table>
        <p><a href="/">Etusivu</a></p>
        
    </body>
</html>
